<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="http://127.0.0.1:5000/">Store Parser</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <a class="nav-link" href="{{url_for('store')}}">Магазины</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{{url_for('product.products')}}">Каталог</a>
      </li>
    </ul>
      <ul class="navbar-nav">
       {%if current_user.is_authenticated%}
          <li class="nav-item active">
            <span class="nav-link">Привет,  {{current_user.username}}</span>
          </li>
         {%if current_user.is_admin%}
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for('admin.admin_panel')}}">Админка</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('users.my_products')}}">Личный кабинет</a>
          </li>
          {%endif%}
          {%if current_user.is_user%}
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for('users.my_products')}}">Личный кабинет</a>
          </li>
             <li class="nav-item active">
            <a class="nav-link" href="{{url_for('users.my_settings')}}">Настройки</a>
          </li>
          {%endif%}
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('users.logout')}}">Выйти</a>
          </li>
        {%else%}
            <li class="nav-item active">
        <a class="nav-link" href="{{url_for('users.login')}}">Войти</a>
      </li>
         <li class="nav-item active">
            <a class="nav-link" href="{{url_for('users.register')}}">Регистрация</a>
          </li>
        {%endif%}


          </ul>
    <form action="{{url_for('users.search')}}" method="post" class="form-inline my-2 my-lg-0">

            <div class="col-8">
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input class="form-control mr-sm-2" id="formGroupExampleInput" name="search" type="text">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Поиск</button>
                </div>
            </div>

    </form>
  </div>
</nav>
