
<div class="container">
    <h5> Вставь ссылку на товар из магазина </h5>
    <form action="/" method="POST">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input class="form-control" id="formGroupExampleInput" name="link" placeholder="Вставь ссылку" type="text">
                    <p></p>
                    {% if info!=None %}
                        {%for image in info.image %}
                        <img alt="Cinque Terre" class="img-thumbnail" src="{{image}}" height=160px width=160px>
                        {% endfor %}
                    <p> Цена товара: {{ info['price'] }} </p>
                    <p> Доступные размеры: {{ info['sizes'] }} </p>
                    <p> Бренд: {{ info['brand'] }} </p>
                    <p> Категория: {{ info['category'] }} </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                <button class="btn btn-primary" type="submit">Отследить</button>
                </div>
            </div>
        </div>
    </form>

</div>
