{%extends "base.html"%}

{%block content%}
<title>Каталог товаров</title>
<div class = "col text-center"><h2>Каталог товаров</h2></div>
<div class="row">
    <div class="col-4"></div>
<div class="col col-centered">
  {% if page_start != last_page %}
    <nav aria-label="Page navigation example">
  <ul class="pagination">
      {%if page  == 1 %}
    <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

      <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" tabindex="{{page_prev}}">{{page_prev}}</a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page}}" tabindex="{{page}}">{{page}}</a>
    </li>
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_next}}" tabindex="{{page_next}}">{{page_next}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{next_p}}" aria-label="Next">
          <span class="sr-only">Next</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {% elif 2 < page <= (last_page-1) %}
       <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" tabindex="{{page_prev}}">{{page_prev}}</a>
    </li>
      <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page}}" tabindex="{{page}}">{{page}}</a>
    </li>
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_next}}" tabindex="{{page_next}}">{{page_next}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{next_p}}" aria-label="Next">
          <span class="sr-only">Next</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {%elif page == 2 %}
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" tabindex="{{page_prev}}">{{page_prev}}</a>
    </li>
      <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page}}" tabindex="{{page}}">{{page}}</a>
    </li>
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_next}}" tabindex="{{page_next}}">{{page_next}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{next_p}}" aria-label="Next">
          <span class="sr-only">Next</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%endif%}
     </ul>
</nav>
    {% else %}
    <nav aria-label="Page navigation example">
  <ul class="pagination">
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" tabindex="{{page_prev}}">{{page_prev}}</a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page}}" tabindex="{{page}}">{{page}}</a>
    </li>
      <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_next}}" tabindex="{{page_next}}">{{page_next}}</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{next_p}}" aria-label="Next">
          <span class="sr-only">Next</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
   {%endif%}
</div>
</div>

<div class="row">
    {%for product in dict%}
    <div class="col-md-4">
        <a class="link" href="{{url_for('product.current_product')}}?product_id={{product['id']}}&page={{page_start_1}}">
        <img alt="Cinque Terre" class="img" src="{{product ['image'][0]}}" height=160px width=160px></a>
        <p> <strong>Категория</strong>: {{ product ['category'] }} </p>
        <p> <strong>Название</strong>: {{ product ['name'] }}</p>
        <p> <strong>Бренд</strong>: {{ product ['brand'] }} </p>
        <p> <strong>Магазин</strong>: {{ product ['store'] }} </p>
    </div>
    {%endfor%}
    <div class="col-4"></div>
<div class="col col-centered">
  {% if page_start != last_page %}
    <nav aria-label="Page navigation example">
  <ul class="pagination">
      {%if page  == 1 %}
    <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

      <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" tabindex="{{page_prev}}">{{page_prev}}</a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page}}" tabindex="{{page}}">{{page}}</a>
    </li>
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_next}}" tabindex="{{page_next}}">{{page_next}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{next_p}}" aria-label="Next">
          <span class="sr-only">Next</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {% elif 2 < page <= (last_page-1) %}
       <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" tabindex="{{page_prev}}">{{page_prev}}</a>
    </li>
      <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page}}" tabindex="{{page}}">{{page}}</a>
    </li>
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_next}}" tabindex="{{page_next}}">{{page_next}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{next_p}}" aria-label="Next">
          <span class="sr-only">Next</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {%elif page == 2 %}
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" tabindex="{{page_prev}}">{{page_prev}}</a>
    </li>
      <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page}}" tabindex="{{page}}">{{page}}</a>
    </li>
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_next}}" tabindex="{{page_next}}">{{page_next}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{next_p}}" aria-label="Next">
          <span class="sr-only">Next</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%endif%}
     </ul>
</nav>
    {% else %}
    <nav aria-label="Page navigation example">
  <ul class="pagination">
      <li class="page-item">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_prev}}" tabindex="{{page_prev}}">{{page_prev}}</a>
    </li>
      <li class="page-item ">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page}}" tabindex="{{page}}">{{page}}</a>
    </li>
      <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{page_next}}" tabindex="{{page_next}}">{{page_next}}</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="{{url_for('product.page_num')}}?page={{next_p}}" aria-label="Next">
          <span class="sr-only">Next</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
   {%endif%}
</div>
</div>

{%endblock%}