{%extends "base.html"%}

{%block content%}
        <body>
            <div class = "container">
                <h2>Список магазинов в базе</h2>
                <div class="col-6">
                <table class="table table-borderless ">
                  <thead>
                    <tr>
                      <th scope="col" style="width:  1%">Лого</th>
                      <th scope="col" style="width:  20%">Название магазина</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for store in store_all %}

                    <tr>

                        <td class="align-baseline"><img class="img-fluid" alt="Лого магазина"  src="{{store.icon}}" height=32px width=32px></td>
                        <td class="align-baseline"><a class="badge badge-light"  href={{store.url}} title="{{store.title}}"> {{store.name}} </a></td>

                    </tr>


                   {%endfor%}
                  </tbody>
                </table>
                    </div>
{%endblock%}