{%extends "base.html"%}

{%block content%}
        <body>
            <div class = "container">

            <div class = "row">
                <div class="col-10">
                    <h2>Stores</h2>
                    {%for store in store_all %}
                   <p>
                    <img alt="Лого магазина"  src="{{store.icon}}" height=50px width=50px>
                    <a href={{store.url}} title="{{store.title}}"> > {{store.name}} </a>
                   </p>
                    {%endfor%}
                </div>
{%endblock%}